<launch>
    <node pkg="ep_bringup" type="ep_bringup.py" name="ep_bringup_node" cwd="node" required="true"/>
    <node pkg="marker_location" type="img_processor.py" name="img_process_node" output="screen" cwd="node" required="true"/>
    <node pkg="control" type="grab_task.py" name="grab_task_node" output="screen" cwd="node" required="true"/>
</launch>